@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.flex-center {
  @apply flex justify-center items-center;
}

.blue-glow {
  @apply border-[#4081FF] bg-gray-50 shadow-[0_0_0_0.2rem_rgba(0,123,255,.25)] outline-none;
}

.blue-glow-focus:focus {
  @apply border-[#4081FF] bg-gray-50 shadow-[0_0_0_0.2rem_rgba(0,123,255,.25)] outline-none;
}

.red-glow {
  @apply border-[#dc3545] bg-gray-50 shadow-[0_0_0_0.2rem_rgba(220,53,69,.25)] outline-none;
}

.red-glow-focus:focus {
  @apply border-[#dc3545] bg-gray-50 shadow-[0_0_0_0.2rem_rgba(220,53,69,.25)] outline-none;
}

.pre-wrap {
  @apply whitespace-pre-wrap break-all overflow-hidden;
}

@layer components {
  .category-sep {
    @apply border-gray-300 border-[2px]  p-2 rounded-xl border-solid flex-col flex justify-center items-center;
  }
}
